@import "./functions";

.layout {
  height: 100vh;
  width: 100vw;
}
.layout .main {
  display: flex;
  align-items: center;
  // border-radius: 20px;
  height: 100vh;
  // margin: 5vh 5vw 5vh 5vw;
  width: 100vw;
  // border-top: rgba(86, 86, 86, 0.253) 2px solid;
  // border-right: rgba(185, 185, 185, 0.253) 5px solid;
  // border-bottom: rgba(185, 185, 185, 0.253) 5px solid;
  // border-left: rgba(86, 86, 86, 0.253) 2px solid;

  // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  //   rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  //   rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 1s;
  @media screen and (max-width: $tablet-max) {
    overflow-x: scroll;
  }
  &::-webkit-scrollbar {
    height: 0px;
  }
}
.sidebar {
  height: 100%;
  flex-grow: 0.5;
  flex-basis: 45px;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  background-color: rgb(84, 84, 84, 0.07);
  backdrop-filter: blur(10px);
  @media screen and (max-width: $tablet-max) {
    & {
      min-width: 45px;
    }
  }
  @media screen and (max-width: $mobile-max) {
    & {
      width: 20vw;
    }
  }
  #{&}-upper-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    & > * {
      font-size: calc(20px + 0.5vw);
      color: rgba(183, 183, 183, 0.274);
      margin: 7px 5px;
      transition: all 0.5s;
      display: inline-block;
    }
    & > *:hover {
      color: rgba(255, 255, 255, 0.824);
      scale: 1.05;
    }
    .active {
      color: rgba(112, 248, 255, 0.4);
    }
  }
  #{&}-lower-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto auto 20px auto;
    * {
      font-size: calc(20px + 0.5vw);
      margin-block: 5px;
    }
    &-setting {
      transition: rotate 10s, color 2s, font-size 5s;
      margin-bottom: 20px;
      color: rgba(183, 183, 183, 0.274);
      &:hover {
        rotate: 360deg;
        color: rgba(255, 255, 255, 0.824);
      }
    }
    &-icon {
      height: calc(25px + 1vw);
      width: calc(25px + 1vw);
      border-radius: 100%;
    }
  }
}
.chatmenu {
  height: 100%;
  background-color: rgb(84, 84, 84, 0.07);
  border: rgb(225, 225, 225, 0.1) 1px solid;
  border-block-width: 0px;
  flex-grow: 5;
  flex-basis: auto;
  flex-wrap: nowrap;
  max-width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  padding-block: 10px;
  overflow-y: scroll;
  @media screen and (max-width: $tablet-max) {
    & {
      min-width: 65%;
    }
  }
  @media screen and (max-width: $mobile-max) {
    & {
      min-width: 90%;
    }
  }
  #{&}-creategroup {
    position: fixed;
    bottom: 11%;
    left: 27.5%;
    font-size: 30px;
    z-index: 1;
    color: rgb(46, 46, 46);
    background-color: #dc5385;
    padding: 9px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    transition: all 0.5s 0.1s;
    &:hover {
      background-color: #f795b9;
    }
  }
  #{&}-allchats {
    overflow-y: scroll;
    /* width */
    &::-webkit-scrollbar {
      width: 7px;
      height: 0px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f100;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #46464673;
      border-radius: 10px;
      transition: all 1s;
      &:hover {
        background: #58585873;
      }
    }
  }
  #{&}-search-bar {
    @include flexCenter(row);
    margin: 10px auto;
    padding: 0px 10px 0px 5px;
    border-radius: 20px;
    color: rgb(234, 234, 234);
    background-color: rgba(249, 249, 249, 0.089);
    min-width: 60%;
    min-height: max-content;
    max-width: max-content;
    backdrop-filter: blur(10px);
    transition: all 0.5s;
    border: solid rgba(155, 155, 155, 0.263);
    border-width: 0px 1px 1px 0px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    //   rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    flex-shrink: 0;
    * {
      flex-shrink: 0;
    }
    input {
      background-color: transparent;
      border-width: 0px;
      padding-left: 10px;
      padding-block: 15px;
      color: rgb(234, 234, 234);
      font-family: "poppins";
    }
    input:focus {
      outline: none;
    }
    input::placeholder {
      color: rgb(207, 207, 207);
    }
    &:hover {
      background-color: rgba(171, 171, 171, 0.331);
    }
    &:focus-within {
      background-color: rgba(32, 32, 32, 0.014);
    }
  }
  /* width */
  &::-webkit-scrollbar {
    width: 7px;
    height: 0px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f100;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888888c7;
    border-radius: 10px;
    transition: all 1s;
    &:hover {
      background: #c1c1c1af;
    }
  }
}

.otherchats {
  @include flexCenter(row);
  margin: 10px 15px;
  border-radius: 5px;
  background-color: rgba(112, 108, 218, 0.043);
  backdrop-filter: blur(10px);
  color: rgb(215, 215, 215);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 1% 5%;
  flex-shrink: 0;
  transition: all 1s;
  min-width: fit-content;
  &:hover {
    color: white;
  }
  * {
    @include flexCenter(column);
    flex-shrink: 0;
  }
  #{&}-dp {
    height: 45px;
    width: 45px;
    border-radius: 100%;
  }
  #{&}-chat {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-name {
      font-family: "Nunito Sans";
      font-size: calc(12px + 0.4vw);
    }
    &-message {
      text-indent: 5px;
      font-family: "Poppins";
      font-size: calc(10px + 0.2vw);
    }
  }
  #{&}-info {
    margin-left: auto;
    margin-right: 5%;
    display: flex;

    &-time {
      margin-bottom: 5px;
      font-family: "Poppins";
    }
    &-notification {
      margin-bottom: 5px;
      font-family: "Poppins";
      .notification {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: radial-gradient(
          circle,
          rgb(98, 251, 63) 30%,
          rgba(86, 251, 71, 0.377) 40%,
          rgb(126 255 134 / 19%) 70%
        );
      }
    }
  }
  &-active {
    background-color: rgba(34, 19, 32, 0.142);
  }
}

.invites {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 10px 15px;
  border-radius: 5px;
  background-color: rgba(112, 108, 218, 0.043);
  backdrop-filter: blur(10px);
  color: rgb(215, 215, 215);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 1% 5%;
  flex-shrink: 0;
  transition: all 1s;
  min-width: fit-content;
  &:hover {
    color: white;
  }
  * {
    @include flexCenter(column);
    flex-shrink: 0;
  }
  #{&}-dp {
    height: calc(35px + 0.4vw);
    width: calc(35px + 0.4vw);
    border-radius: 100%;
  }
  #{&}-chat {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-name {
      font-family: "Nunito Sans";
      font-size: calc(12px + 0.4vw);
    }
  }
  #{&}-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &-active {
    background-color: rgba(34, 19, 32, 0.142);
  }
}

.chattingsection {
  height: 100%;
  width: min-content;
  background-color: rgb(84, 84, 84, 0.07);
  flex-grow: 20;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  @media screen and (max-width: $tablet-max) {
    & {
      min-width: 50%;
    }
  }
  @media screen and (max-width: $mobile-max) {
    & {
      min-width: 90vw;
      max-width: 90vw;
    }
  }
}
.chat-navbar {
  @include flexCenter(row);
  height: 13%;
  width: 100%;
  flex-shrink: 0;
  backdrop-filter: blur(10px);
  padding: 10px 30px 10px 40px;
  font-size: calc(25px + 0.5vw);
  color: rgb(234, 234, 234);
  @media screen and (max-width: $mobile-max) {
    & {
      height: 10%;
    }
  }
  * {
    flex-shrink: 0;
  }
  span {
    font-family: "Nunito Sans";
    font-size: calc(15px + 1vw);
    margin-left: 5%;
    margin-right: 20px;
    min-width: fit-content;
    color: #ffffff;
    background: rgb(252, 252, 252);
    background: linear-gradient(
      29deg,
      rgb(203, 203, 203) 35%,
      rgba(255, 255, 255, 1) 50%,
      rgb(193, 193, 193) 65%
    );
    background-clip: text;
    background-repeat: none;
    background-position: 0;
    -webkit-text-fill-color: transparent;
    animation: shine 10s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    white-space: nowrap;
  }
  #{&}-icon {
    height: calc(30px + 2vw);
    width: calc(30px + 2vw);
    border-radius: 100%;
  }
  #{&}-phone {
    margin-left: auto;
    transition: all 0.5s;
    font-size: calc(10px + 2vw);
    &:hover {
      rotate: 90deg;
      color: #39916a;
    }
  }
  #{&}-videocall {
    margin-left: calc(10px + 0.7vw);
    margin-right: 5px;
    rotate: -10deg;
    transition: all 0.5s;
    font-size: calc(10px + 2vw);
    &:hover {
      rotate: 10deg;
      color: #858585;
    }
  }
}
.chatmain {
  width: 100%;
  height: 100%;
  #{&}-messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 88%;
    overflow-y: scroll;
    @media screen and (max-width: $mobile-max) {
      & {
        height: 90%;
      }
    }
    /* width */
    &::-webkit-scrollbar {
      width: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f100;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888888c7;
      border-radius: 10px;
      transition: all 1s;
      &:hover {
        background: #c1c1c1af;
      }
    }
  }
  #{&}-sender {
    width: 100%;
    height: 12%;
    background-color: rgba(126, 126, 126, 0.068);
    backdrop-filter: blur(10px);
    font-size: calc(20px + 0.5vw);
    padding: 10px;
    display: flex;
    align-items: center;
    @media screen and (max-width: $mobile-max) {
      & {
        height: 10%;
      }
    }
    & > *:nth-child(1) {
      margin-left: 20px;
      color: rgb(215, 215, 215);
      transition: all 0.5s 0.5s;
      display: flex;
      align-items: center;
      &:hover {
        scale: 1.01;
        color: rgb(163, 163, 163);
      }
      & span {
        backdrop-filter: blur(40px);
        background-color: #d7d7d771;
        padding: 0px 5px;
        border-radius: 10px;
        font-size: calc(10px + 0.5vw);
        color: rgb(215, 215, 215);
        white-space: nowrap;
        &:hover {
          scale: 1.01;
          color: rgb(215, 215, 215);
        }
      }
      .close-file {
        color: rgba(236, 56, 56, 0.733);
        margin-right: 0.1vw;
        &:hover {
          color: rgba(197, 48, 48, 0.562);
        }
      }
    }
    input {
      background-color: transparent;
      border-width: 0px;
      padding-left: 10px;
      padding-block: 5px;
      margin: 0px 10px 0px 20px;
      color: rgb(234, 234, 234);
      font-family: "poppins";
      font-size: calc(10px + 0.4vw);
      flex-grow: 1;
      border-bottom: 1px solid rgba(161, 161, 161, 0.237);
    }
    input:focus {
      outline: none;
    }
    input::placeholder {
      color: rgb(207, 207, 207);
      font-size: calc(10px + 0.4vw);
    }
    & > *:nth-child(4) {
      color: white;
      margin-left: 20px;
      margin-right: 20px;
      transition: all 0.5s 0.1s;
      &:hover {
        transform: translate(5px, 0px);
        color: rgba(60, 251, 60, 0.4);
      }
    }
  }
  #{&}-call {
    background-color: #39916a;
    width: 100%;
    height: 100%;
  }
}
.callmain {
  width: 100%;
  height: 100%;
  position: relative;
  backdrop-filter: blur(5px);
  color: rgba(61, 61, 61, 0.55);
  & * {
    transition-property: all;
    transition-duration: 10ms;
  }
  #{&}-user-icon {
    position: absolute;
    top: 30%;
    left: 50%;
    height: 30vh;
    width: 30vh;
    transform: translateX(-50%) translateY(-50%);
  }
  #{&}-cut-call-icon {
    position: absolute;
    transform: translateX(-50%) translateY(50%);
    bottom: 15%;
    left: 50%;
    font-size: 70px;
    background: radial-gradient(
      circle,
      rgba(255, 98, 98, 1) 0%,
      rgb(200, 72, 72) 90%
    );
    border-radius: 50%;
    padding: 15px;
    @media screen and (max-width: $tablet-max) {
      & {
        left: 50%;
      }
    }
    &:hover {
      background: radial-gradient(
        circle,
        rgba(255, 98, 98, 0.5) 0%,
        rgba(200, 72, 72, 0.5) 90%
      );
      color: rgba(0, 0, 0, 0.543);
      scale: 1.05;
    }
  }
  #{&}-user-mute-icon {
    position: absolute;
    transform: translateX(-50%) translateY(50%);
    bottom: 20%;
    left: 40%;
    font-size: 70px;
    background: radial-gradient(
      circle,
      rgba(63, 118, 255, 1) 0%,
      rgb(31, 60, 133) 98%
    );
    border-radius: 50%;
    padding: 15px;
    @media screen and (max-width: $tablet-max) {
      & {
        left: 25%;
      }
    }
    &:hover {
      background: radial-gradient(
        circle,
        rgba(63, 117, 255, 0.5) 0%,
        rgb(31, 60, 133, 0.5) 98%
      );
      color: rgba(0, 0, 0, 0.543);
      scale: 1.05;
    }
  }
  #{&}-mute-call-icon {
    position: absolute;
    transform: translateX(50%) translateY(50%);
    bottom: 20%;
    right: 40%;
    font-size: 70px;
    background: radial-gradient(
      circle,
      rgba(238, 255, 63, 1) 0%,
      rgba(139, 148, 49, 1) 98%
    );
    border-radius: 50%;
    padding: 15px;
    @media screen and (max-width: $tablet-max) {
      & {
        right: 25%;
      }
    }
    &:hover {
      background: radial-gradient(
        circle,
        rgba(238, 255, 63, 0.5) 0%,
        rgba(140, 148, 49, 0.5) 98%
      );
      color: rgba(0, 0, 0, 0.543);
      scale: 1.05;
    }
  }
}
.message-box {
  background-color: rgba(98, 126, 220, 0.299);
  min-height: 10%;
  min-width: 22%;
  width: fit-content;
  height: fit-content;
  max-width: 65%;
  border-radius: 25px;
  backdrop-filter: blur(10px);
  font-family: poppins;
  position: relative;
  margin: 15px;
  flex-shrink: 0;
  font-size: calc(7px + 0.5vw);
  box-sizing: border-box;
  @media screen and (max-width: $mobile-max) {
    & {
      margin: 5px;
      min-height: 8%;
      min-width: 5%;
    }
  }
  #{&}-message {
    margin: 15px 20px 40px 20px;
    min-width: 100px;
    @media screen and (max-width: $mobile-max) {
      & {
        margin: 10px 15px 30px 10px;
      }
    }
  }
  #{&}-image,
  #{&}-video {
    max-width: 80%;
    display: inline-block;
    border-radius: 20px;
    margin: 1vw 0px 2vw 1vw;
  }
  #{&}-time {
    position: absolute;
    bottom: 5px;
    right: 15px;
  }
  &.sent {
    margin-left: auto;
    background-color: rgba(61, 153, 179, 0.299);
  }
}
.date-tag {
  margin: 0px auto;
  font-size: calc(9px + 0.5vw);
  font-family: poppins;
  letter-spacing: 1px;
  backdrop-filter: blur(10px);
  background-color: rgba(100, 100, 100, 0.322);
  color: rgba(215, 215, 215, 0.694);
  padding: 0.5vw 10px;
  flex-shrink: 0;
  border-radius: 10px;
}

.sendinvitebox {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  text-align: center;
  @include flexCenter(column);
  #{&}-text {
    font-size: calc(40px + 0.6vw);
    font-family: Nunito Sans;
    padding: 10%;
    color: white;
    span {
      font-size: calc(45px + 0.6vw);
      color: #14ff97;
    }
  }
  #{&}-button {
    padding: 25px;
    font-size: calc(20px + 0.5vw);
    font-family: poppins;
    border-radius: 10px;
    border-width: 0px;
    color: #eee;
    background-color: #db7639;
    font-weight: bold;
    transition: all 0.2s;
    @include flexCenter(row);
    &:hover {
      background-color: #da5645;
    }
    &-icon {
      padding-right: 20px;
      font-size: calc(50px + 0.5vw);
    }
  }
}

.logoutmenu {
  position: absolute;
  bottom: 15px;
  left: 80px;
  backdrop-filter: blur(5px);
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  z-index: 1;
  font-family: "poppins";
  #{&}-item {
    border: none;
    color: #d7d7d7;
    padding: 20px 25px;
    display: flex;
    gap: 10px;
    align-items: center;

    p {
      cursor: pointer;
    }

    &:hover {
      transition: all 0.5s ease-in-out;
    }

    &:hover p {
      color: white;
      transition: all 0.5s ease-in-out;
    }

    &:hover .logoutmenu-icon {
      color: white;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
    }

    @media screen and (max-width: $tablet-max) {
      & {
        padding: 15px 20px;
        p {
          font-size: 16px;
        }
      }
    }
    @media screen and (max-width: $mobile-max) {
      & {
        padding: 10px 15px;
        p {
          font-size: 15px;
        }
      }
    }
  }

  #{&}-icon {
    font-size: 25px;
    @media screen and (max-width: $tablet-max) {
      & {
        font-size: 22px;
      }
    }
    @media screen and (max-width: $mobile-max) {
      & {
        font-size: 20px;
      }
    }
  }

  hr {
    margin: 0 12px;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
  }

  #{&}-button {
    margin-block: 5px;
    height: 47px;
    font-size: 18px;
    position: relative;
    left: 130px;
    border: none;
    color: rgba(255, 255, 255, 0.705);
    padding: 10px 15px;
    cursor: pointer;
    background: rgba(255, 0, 234, 0.815);
    // box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.2);
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    &:hover {
      background: rgba(255, 0, 0, 0.7);
      color: white;
      transition: all 0.25s ease-in-out;
    }

    @media screen and (max-width: $tablet-max) {
      & {
        height: 40px;
        font-size: 16px;
      }
    }
    @media screen and (max-width: $mobile-max) {
      & {
        height: 35px;
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: $tablet-max) {
    & {
      left: 60px;
    }
  }
  @media screen and (max-width: $mobile-max) {
    & {
      left: 50px;
      bottom: 8px;
    }
  }
}
