@import "./functions";

.sidebar {
  height: 100%;
  flex-grow: 0.5;
  flex-basis: 45px;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  background-color: rgb(84, 84, 84, 0.07);
  backdrop-filter: blur(10px);
  @media screen and (max-width: $tablet-max) {
    & {
      min-width: 45px;
    }
  }
  @media screen and (max-width: $mobile-max) {
    & {
      width: 20vw;
    }
  }
  #{&}-upper-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    & > * {
      font-size: calc(20px + 0.5vw);
      color: rgba(183, 183, 183, 0.274);
      margin: 7px 5px;
      transition: all 0.5s;
      display: inline-block;
    }
    & > *:hover {
      color: rgba(255, 255, 255, 0.824);
      scale: 1.05;
    }
    .active {
      color: rgba(112, 248, 255, 0.4);
    }
  }
  #{&}-lower-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto auto 20px auto;
    * {
      font-size: calc(20px + 0.5vw);
      margin-block: 5px;
    }
    &-setting {
      transition: rotate 10s, color 2s, font-size 5s;
      margin-bottom: 20px;
      color: rgba(183, 183, 183, 0.274);
      &:hover {
        rotate: 360deg;
        color: rgba(255, 255, 255, 0.824);
      }
    }
    &-icon {
      height: calc(25px + 1vw);
      width: calc(25px + 1vw);
      border-radius: 100%;
    }
  }
}
